#helper-section {
  width: 320px;
  height: auto;
  border: "1px solid black";
  background-color: #b3ccea;
  padding: 10px;
  float: left;
}

#irc-section {
  height: 600px;
}

.irc-message {
  margin-top: 2px;
}

.message-highlight {
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: highlight;
}
